body{
    /* width: 100vw;
    height: 100vh; */
    
    background-color: var(--Azul);
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
}

form{
    max-width: 500px;
    max-height: 700px;

    
    background-color: var(--Marrom);
    box-shadow: inset var(--Amarelo) -7px -11px 0px 3px;
    
    border-radius: 20px;
    padding: 2rem;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1{
    border-bottom: 3px solid  var(--Amarelo);
    color: var(--Amarelo);
    font-size: 4rem;
}

.caixas{
    display: flex;
    gap: 2rem;
    margin: 1rem;
}

.inputCase{
    background-image: url(../imgs/boxInput.svg);
    max-height: 96px;
    max-width: 187px;

    display: flex;
    align-items: center;
    justify-content: center;

}

input{
    background: none;
    border: none;
    height: 96px;
    width: 187px;

    font-size: 2rem;
    text-align: center;
    color: var(--Azul);
}

::placeholder{
    color: var(--Azul);
    font-size: 2rem;
}

.operacoes{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.button{
    background-repeat: no-repeat;
    background-position: center center;

    width: 40%;
    
    border-radius: 50px;

    background-image: url(../imgs/button.svg);


    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    background: none;
    border: none;
    width: 105px;
    height: 105px;
    border-radius: 50px;
    
    font-size: 3.5rem;
    text-align: center;
    cursor: pointer;

    color: var(--Azul);
}

p{
    background-image: url(../imgs/boxInputExit.svg);
    background-repeat: no-repeat;
    background-position: center center;

    width: 401px;
    height: 96px;

    
    color: var(--Azul);
    
    border-radius: 10px;

    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#astroCat{
    width: 40%;
    min-width: 500px;
}

#Estrelas, #Planeta, #Gato, #Foguete{
    animation-name: animacaoMovimento;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#Estrelas{
    animation-duration: 6s;
}

#Planeta{
    animation-duration: 5s;
}

#Gato, #Foguete{
    animation-duration: 3s;
}

footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialIcon{
    width: 40%;
}

@keyframes animacaoMovimento{
    0%{
        transform: translateY(10%);
    }

    50%{
        transform: translateY(0%);
    }

    100%{
        transform: translateY(10%);
    }
}

@media (max-width: 1080px){
    main{
        margin: none;
        gap: 0rem;
    }
    form{
        max-width: none;
        max-height: none;
        width: 100%;
        
        /* padding: 1rem; */
    }
    
    h1{
        font-size: 3rem;
    }

    .operacoes{
        width: 100%;
    }

    .button{
        margin: 1rem;
        width: 30%;
    }

    button{
        font-size: 2rem;
    }

   .caixas{
    flex-direction: column;
   }  

    #astroCat{
        display: none;
    }

    p{
        width: 60%;
        font-size: 1.5rem;
    }
}