@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

/*Reset de CSS:*/
*, *::before, *::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
}

body{
    width: 100vw;
    height: 100vh;
    
    background-color: #1D1135;
    


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
}

#astroCat{
    width: 40%;
    min-width: 500px;
}

form{
    max-width: 500px;
    max-height: 700px;

    
    background-color: #772A08;
    box-shadow: inset #FCA311 -7px -11px 0px 3px;
    
    border-radius: 20px;
    padding: 2rem;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1{
    border-bottom: 3px solid  #FCA311;
    color: #FCA311;
    font-size: 4rem;
}

.caixas{
    display: flex;
    gap: 2rem;
    margin: 1rem;
}

.inputCase{
    background-image: url(../imgs/boxInput.svg);
    max-height: 96px;
    max-width: 187px;

    display: flex;
    align-items: center;
    justify-content: center;

}

input{
    background: none;
    border: none;
    height: 96px;
    width: 187px;

    font-size: 2rem;
    text-align: center;
    color: #1D1135;
}

::placeholder{
    color: #1D1135;
    font-size: 2rem;
}

.operacoes{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.button{
    background-repeat: no-repeat;
    background-position: center center;

    width: 105px;
    
    border-radius: 50px;

    background-image: url(../imgs/button.svg);


    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    background: none;
    border: none;
    width: 105px;
    height: 105px;
    border-radius: 50px;
    
    font-size: 3.5rem;
    text-align: center;
    cursor: pointer;

    color: #1D1135;
    
}

p{
    background-image: url(../imgs/boxInputExit.svg);
    background-repeat: no-repeat;
    background-position: center center;

    width: 401px;
    height: 96px;

    
    color: #1D1135;
    
    border-radius: 10px;

    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}



.social{
    display: flex;
    gap: 2rem;
}

.socialicon{
    width: 100px;
}

@media (max-width: 1080px){
    main{
        margin: none;
    }
    form{
        max-width: none;
        max-height: none;
        width: 100%;
        
        padding: 1rem;
    }
    
    h1{
        font-size: 3rem;
    }

    .operacoes{
        width: 100%;
    }

    .button{
        margin: 1rem;
    }

   .caixas{
    flex-direction: column;
   }  

    #astroCat{
        display: none;
    }

    p{
        width: 300px;
    }

    .socialicon{
        width: 60px;
    }
    
}