body{  
    background-color: var(--Azul);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 2rem;
    margin: 2rem;
}

form{
    max-width: 500px;
    max-height: 700px;

    
    background-color: var(--Marrom);
    box-shadow: inset var(--Amarelo) -7px -11px 0px 3px;
    
    border-radius: 20px;
    padding: 2rem;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1{
    border-bottom: 3px solid  var(--Amarelo);
    color: var(--Amarelo);

    font-size: 4rem;
}

.caixas{
    display: flex;
    gap: 2rem;
    margin: 1rem;
}

.inputCase{
    max-height: 96px;
    max-width: 187px;

    background-image: url(../imgs/boxInput.svg);

    display: flex;
    align-items: center;
    justify-content: center;

}

input,::placeholder{
    color: var(--Azul);
    font-size: 2rem;
    text-align: center;
}

input,button{
    background: none;
    border: none;
}

input{
    height: 96px;
    width: 187px;   
}
.operacoes{
    width: 70%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 2rem;
    padding: 1rem;
}

.button, p{
    background-repeat: no-repeat;
    background-position: center center;
}

.button{
    background-image: url(../imgs/button.svg);

    width: 40%;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    width: 105px;
    height: 105px;

    border-radius: 50px;

    color: var(--Azul);
    font-size: 3.5rem;
    text-align: center;

    cursor: pointer;
}

p{
    background-image: url(../imgs/boxInputExit.svg);

    width: 401px;
    height: 96px;
    border-radius: 10px;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--Azul);
    font-size: 40px;
}

#astroCat{
    width: 40%;
    min-width: 500px;
}

#Estrelas, #Planeta, #Gato, #Foguete{
    animation-name: animacaoMovimento;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#Estrelas{
    animation-duration: 6s;
}

#Planeta{
    animation-duration: 5s;
}

#Gato, #Foguete{
    animation-duration: 3s;
}

footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialIcon{
    width: 40%;
}

@keyframes animacaoMovimento{
    0%{
        transform: translateY(10%);
    }

    50%{
        transform: translateY(0%);
    }

    100%{
        transform: translateY(10%);
    }
}

@media (max-width: 1080px){
    main{
        margin: none;
        gap: 0rem;
    }
    form{
        max-width: none;
        max-height: none;
        width: 100%;
    }
    
    h1{
        font-size: 3rem;
    }

    .operacoes{
        width: 100%;
    }

    .button{
        margin: 1rem;
        width: 30%;
    }

    button{
        font-size: 2rem;
    }

   .caixas{
    flex-direction: column;
   }  

    #astroCat{
        display: none;
    }

    p{
        width: 60%;
        font-size: 1.5rem;
    }
}